section ul {
  list-style: none;
  text-decoration: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
ul a {
  text-decoration: none;
  color: white;
}

ul a:hover {
    padding-bottom: 1px;
    border-bottom: white solid 1px;
    color: white;
  }
  

li {
  margin-bottom: 5px;
}
footer {

  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: #4a5e57;
  padding: 10px 40px;
  flex-wrap: wrap;
}

section img {
  width: 150px;
}
