main{
    width: 70%;
    margin: auto;
}


main>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.specials-container{
display: flex;
align-items: center;
gap: 30px;
flex-wrap: wrap;
}